
<section class="school-tour">
  <div class="section-header text-center mt-1">
    <h2>Lingkungan Sekolah</h2>
    <p>Jelajahi fasilitas dan kegiatan di SMK Paramitha Jakarta</p>
  </div>
<div>
  <div class="video-box">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/IKtbJUjFzwc?si=hTdCInfEuJeOL_UK"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
</section>



<footer class="footer">
    <div class="section-header text-center mt-1 mb-2">
    <h2>Hubungi Kami</h2>
  </div>
  <div class="footer-wrapper">
    <!-- KIRI -->
    <div class="footer-card slide-left">
      <img
        src="/assets/img/Main Icon/paramitha.png"
        alt="Logo SMK PARAMITHA"
        class="footer-logo"
      />
      <div class="footer-info">
        <h3>SMK PARAMITHA JAKARTA</h3>
        <p>
          Jl. Komp. DDN Jl. Raya Kalimalang No. 68 I2, Pondok Kelapa, Kec. Duren
          Sawit, Kota Jakarta Timur, 13450
        </p>
        <p>
          <img src="/assets/img/icons/ic--baseline-email.png" alt="Email" />
          surat@paramitha.sch.id
        </p>
        <p>
          <img
            src="/assets/img/icons/material-symbols--call.png"
            alt="Telepon"
          />
          0123456789
        </p>
      </div>
    </div>

    <!-- KANAN -->
    <div class="footer-card slide-right">
      <img
        src="/assets/img/Main Icon/Favicon.jpg"
        alt="Logo SMK PARAMITHA 2"
        class="footer-logo"
      />
      <div class="footer-info">
        <h3>SMK PARAMITHA 2 JAKARTA</h3>
        <p>
          Jl. Komp. DDN Jl. Raya Kalimalang No. 68 I2, Pondok Kelapa, Kec.
          Duren Sawit, Kota Jakarta Timur, 13450
        </p>
        <p>
          <img src="/assets/img/icons/ic--baseline-email.png" alt="Email" />
          surat@paramitha.sch.id
        </p>
        <p>
          <img
            src="/assets/img/icons/material-symbols--call.png"
            alt="Telepon"
          />
          0123456789
        </p>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-social-desktop">
      <a href="https://www.youtube.com/@smkparamithajakartaofficia2707/videos">
        <img src="/assets/img/icons/mdi--youtube.png" alt="YouTube" />
        SMK PARAMITHA JAKARTA Official
      </a>
      <a href="https://www.instagram.com/osparthaa/">
        <img src="/assets/img/icons/mdi--instagram.png" alt="Instagram" />
        smkparamithajakartaofficial
      </a>
      <a href="http://paramitha.sch.id">
        <img src="/assets/img/icons/mdi--web.png" alt="Website" />
        http://paramitha.sch.id
      </a>
    </div>

    <p class="copyright">
     ©2025 <strong>SMK PARAMITHA JAKARTA</strong> - All Rights Reserved.
    </p>

    <div class="footer-social-mobile">
      <a href="https://www.youtube.com/@smkparamithajakartaofficia2707/videos">
        <img src="/assets/img/icons/mdi--youtube.png" alt="YouTube" />
      </a>
      <a href="https://www.instagram.com/osparthaa/">
        <img src="/assets/img/icons/mdi--instagram.png" alt="Instagram" />
      </a>
      <a href="http://paramitha.sch.id">
        <img src="/assets/img/icons/mdi--web.png" alt="Website" />
      </a>
    </div>
  </div>

</footer>

