<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
      <img src="/assets/img/Main Icon/Favicon.jpg" alt="Logo">
      SMK PARAMITHA JAKARTA
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#navModal">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav" id="desktopMenu">
        <li class="nav-item me-3">
          <a class="nav-link" href="index.html">BERANDA</a>
        </li>

        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            TENTANG KAMI
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/page/tentang-kami/fasilitas.html">Fasilitas</a></li>
            <li><a class="dropdown-item" href="/page/tentang-kami/visimisi.html">Visi & Misi</a></li>
            <li><a class="dropdown-item" href="/page/tentang-kami/galeri.html">Galeri Sekolah</a></li>
            <li><a class="dropdown-item" href="/page/tentang-kami/sejarah.html">Sejarah Singkat</a></li>
            <li><a class="dropdown-item" href="/page/tentang-kami/mottonmars.html">Motto & Mars</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            JURUSAN
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/page/jurusan/rpl.html">Rekayasa Perangkat Lunak</a></li>
            <li><a class="dropdown-item" href="/page/jurusan/ulw.html">Usaha Layanan Wisata</a></li>
            <li><a class="dropdown-item" href="/page/jurusan/dkv.html">Desain Komunikasi Visual</a></li>
            <li><a class="dropdown-item" href="/page/jurusan/kul.html">Kuliner</a></li>
            <li><a class="dropdown-item" href="/page/jurusan/perhotelan.html">Perhotelan</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="navModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3" id="menuCard">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body">
        <ul class="navbar-nav" id="mobileMenu"></ul>
      </div>
    </div>
  </div>
</div>
